*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   
}
#main{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#panel{
    width:90%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    
}
#top{
    height: 20%;
    width: 100%;
    background-color: rgb(5, 71, 49);
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: white;
    

    
}
.elem{
    padding: 0% 8%;
    width: 20%;
    height: 2vh;
    margin-left: -14%;
    margin-top: 10px;
    display: flex;
    gap: 20%;
}
#box{
    height: 125%;
    width: 34px;
    background-color: aliceblue;
    border-radius: 10%;
    padding: 3% 10%;
    font-weight: 900;
    color: black;
    

}
#box2{
    display: inline-block;
    height: 22px;
    width: 48px;
    background-color: aliceblue;
    border-radius: 10%;
    padding: 2% 10%;
    color: black;
    font-weight: 900;
}   

#box3{
    display: inline-block;
    height: 22px;
    width: 28px;
    background-color: aliceblue;
    border-radius: 10%;
    padding: 5% 10%;
    font-weight: 900;
    color: black;
    
}   
#board{
    height: 80%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
   
    
}
.bubble{
      height: 58px;
      width: 58px;
      border-radius: 50%;
      background-color:rgb(5, 59, 41);
      margin-left: 5px;  
      display: flex;
      justify-content: center;
      align-items: center;
      color: antiquewhite;
      gap: 2px;
}
.bubble:hover{
    background-color: rgb(15, 89, 71);
    cursor: pointer;
}

#menu{
    width: 15%;
    height: 20%;
    margin-bottom: 30%;
}

@media (max-width:700px) {
    #top{padding: 0 15%;
       gap: 20%;
                
    
    }
    
     #box{
        height: 20px;
     }
     #box2{
        height: 20px;
     }
     .bubble{
       height: 10%;
       margin-top: 2vh;
     }
}
